.container {
    .header {
        background-color: rgb(41, 41, 41);
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        .greeting {
            width: 100%;
            h2 {
                font-family: cursive;
                margin-top: 15px;
            }
            p {
                font-family: fantasy;
                margin-top: 20px;
            }
        }
    }
    .chart{
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows: 1fr;
    }
}

.data{
    width: 200px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>div{
        width: 90px;
        height: 90px;
        border-radius: 10px;

        &>div{
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: larger;
        }
        h3{
            text-align: center;
            /* margin-top: 40px; */

        }
    }
}

