*{
  margin: 0;
  padding: 0;
}
:root{
  --primary-color: burlywood;
  --shallow-color: rgb(136 136 136);
}
::-webkit-scrollbar {
  width: 0;
}
h2{
  font-family: cursive;
  padding-top: 10px;
}
ol{
  /* list-style: none; */
  padding: 20px;
  li{
     margin: 5px;
     font-family: fantasy;
     font-size: 15px;
  }
}
